<!DOCTYPE html>
<html>
<head>
    <title>Todo List</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .todo-container {
            max-width: 400px;
            margin: 20px auto;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            border-radius: 5px;
        }

        .todo-item {
            display: flex;
            align-items: center;
            padding: 8px;
            border-bottom: 1px solid #ccc;
        }

        .todo-item.completed span {
            text-decoration: line-through;
            color: gray;
        }

        .todo-form {
            display: flex;
            margin-top: 20px;
        }

        .todo-form input[type="text"] {
            flex-grow: 1;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 3px;
            outline: none;
        }

        .todo-form button {
            padding: 8px;
            background-color: #007bff;
            color:  #fff;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        .todo-form button:hover {
            background-color: #0056b3;
        }

       
        .logout-button {
            display: inline-block;
            padding: 5px 10px;
            background-color: #ff0000;
            color: #ffffff;
            text-decoration: none;
            border-radius: 4px;
        }

        
        .logout-button {
            display: inline-block;
            padding: 5px 10px;
            background-color: #ff0000;
            color: #ffffff;
            text-decoration: none;
            border-radius: 4px;
        }




    </style>
</head>
<body>
    <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "logout-button"%>


    <div class="todo-container">
        <h1>Todo List</h1>
        <div class="todo-items" id="todoItems">
            <% @todoings.each do |todoing| %>
                <div class="todo-item <%= 'completed' if todoing.completed %>">
                    <span><%= todoing.task %></span>
                    <%= link_to 'Remove', todoing, method: :delete, class: 'remove-button' %>
                </div>
            <% end %>
        

        </div>
            <div class="todo-form">
                <%= form_with(model: Todoing.new, url:todoings_path, local: true) do |form| %>
                    <%= form.text_field :task, placeholder: 'Enter your task here', id: 'newTask' %>
                    <%= form.submit 'Add' %>
                    
                <% end %>
            </div>

        
            
                
            </div>

    </div> 
    
</body>
</html>
